# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
**/.playwright
*.vitest-temp.json

# build tools
out/
dist
storybook-static
.cache/
test-results
*.timestamp*
**/undefined/**
.docusaurus
.cache-loader
.next
*.tsbuildinfo

# misc
.DS_Store
*.pem
architecture.svg
sb-dist

# debug
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*
.pnpm-debug.log*

# Local files for common editors
.idea
.vscode

# Disallow non-pnpm lockfiles
yarn.lock
package-lock.json

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
