# Hoisting commonly used development tools to allow reuse of shared package definitions
public-hoist-pattern[]=*tsx*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*playwright*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=*tsup*
public-hoist-pattern[]=*vite*

# Should get rid of these eventually
public-hoist-pattern[]=*@types/jest*
public-hoist-pattern[]=*@types/node*
public-hoist-pattern[]=*@vanilla-extract*
public-hoist-pattern[]=*@testing-library*
