# Hoisting commonly used development tools to allow reuse of shared package definitions
public-hoist-pattern[]=*tsx*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*@types/jest*
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=*tsup*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*@vanilla-extract*
public-hoist-pattern[]=*@testing-library*
public-hoist-pattern[]=*@playwright/test*
