.textField {
  input {
    padding: 10px;
    border: 1px solid var(--ifm-color-primary-lightest);
    border-radius: 4px;
    background-color: var(--ifm-background-color);
    font-size: 14px;

    &:focus {
      outline: none;
      border-color: var(--ifm-color-primary);
      box-shadow: 0 0 0 2px rgba(41, 106, 163, 0.2);
    }
  }
}
