name: "Install dependencies"
description: "Install dependencies"
runs:
  using: "composite"
  steps:
    - name: Install pnpm
      uses: pnpm/action-setup@v3

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: "package.json"
        registry-url: "https://registry.npmjs.org"
        cache: "pnpm"

    - name: Install Packages
      shell: bash
      run: pnpm install --frozen-lockfile
